<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Bienvenidxs</h1>
        <p>Buscador comunal para buscar y añadir películas que se estrenaron en pantalla grande.</p>
        <app-tabla-pelicula [listadoPeliculas]="peliculas" (onPeliculaSelccionada)="mostrarDetallePelicula($event)"></app-tabla-pelicula>
      
      </div>
    </div>
    
    <div class="container" *ngIf="elent">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <app-borrar-pelicula  [peliculaDetalle]="peliculaDetalle" (onPeliculaABorrar)="peliculaABorrar($event)" ></app-borrar-pelicula>
        </div>
        <div class="col-md-4">
          <app-detalle-pelicula [peliculaDetalle]="peliculaDetalle"></app-detalle-pelicula>
        </div>
        <div class="col-md-4">
          <app-modificar-pelicula [peliculaDetalle]="peliculaDetalle" (onPeliculaAModificar)="peliculaAModificar($event)"></app-modificar-pelicula>
        </div>
      </div>
    
      <hr>
    
    </div> <!-- /container -->
    
    </main>
    
